@model CinemaTicketSystem.Domain.Entities.NewsletterSignup
@{
    ViewBag.Title = "Signup";
}

<div class="alert alert-success">
    Er is een email verstuurd naar @Model.Email met een verificatielink. Wanneer je op die link klikt krijg je voortaan onze nieuwsbrief in je inbox.
</div>
