@model IEnumerable<CinemaTicketSystem.Domain.Entities.Movie>

@{
    ViewBag.Title = "Index";
}


<div class="container">
        <div class="card" style="background-color: #6c757d30; height: 18rem;">
            <div style="text-align: center;" class="card-body">
                <h1>Veel kijkplezier!</h1>
                <h2>Uw betaling is succesvol afgerond</h2>

                <div class="buttonPayment" style="position: absolute; left: 0; top: 80%; width: 100%">
                    <button class="btn btn-primary"><a style="text-decoration: none; color: white; text-align: center" href="/Home/Index">Klik hier om terug te gaan naar de homepage</button>
                </div>
            </div>
        </div>
</div>



