body {
    padding-top: 90px;
    background-color: #151515;
}

dt, dd, dl,h1,h2,h3,label,p,span {
    color: white !important
}
.colorBlack dt, dl, dd, label{
    color: black !important;
}

.body-content {
    min-height: calc(100vh - 180px);
}

footer {
    height: 70px;
    margin-top: 20px;
    padding-top: 10px;

    background-color: #FAFAFA;
}

dl.row > dd {
    margin: 0;
}

.seat input {
    display: none;
    visibility: hidden;
}

.seat label {
    display: block;
    width: auto;
    height: 50px;

    background-color: blue;
    margin: 10px;
}
.seat.taken label {
    background-color: red;
}
.seat input:checked + label {
    background-color: green;
}

.jumbotron {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../img/jumbotronbg.jpg");
    background-size: cover;


}