@model CinemaTicketSystem.Domain.Entities.Showing
@{
    ViewBag.Title = "CreateStepFour";
}

<form id="PrintPdfForm" action="/Order/GetOrder" method="post">
    <h1 style="text-align: center">Uw ordernummer is @ViewBag.OrderID</h1>
    <input name="orderNumber" id="orderNumber" value="@ViewBag.OrderID" type="hidden"/>
</form>
@using (Html.BeginForm("ThankYou", "Order", new {id = ViewBag.ShowingID}))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-md-6" style="text-align: center; width: 50%; margin: auto">
            <div class="card">
                <div class="colorBlack">
                    <form>
                        <h2 style="text-align: center; color: black !important" >Laatste stap</h2>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Email">Vul uw e-mailadres in om de ticketcode(s) per mail te ontvangen</label>
                                <input type="email" name="Email" style="text-align: center" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Vul uw e-mailadres in">
                                <small id="emailHelp" class="form-text text-muted">Deze code(s) heeft u nodig om uw kaartjes af te halen in de bioscoop</small>
                            </div>
                            <button type="submit" id="btnSend" class="btn btn-danger" onclick="btnSend">Verstuur en rond uw bestelling af</button>
                            <button type="submit" form="PrintPdfForm" value="Print ticket" class="btn btn-danger">Print uw kaartje uit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}