@model CinemaTicketSystem.Domain.Entities.Order


<div class="container" style="text-align: center">
    <div class="colorBlack">
        <h2>Print tickets met order nummer</h2>
        <div class="form-horizontal">
            <form action="/Order/GetOrder" method="post">
                <div class="form-group">
                    <label style="color: white !important" for="OrderNumber" class="control-label col-md-2">Ordernummer</label>
                    <div class="col-md-10" style="max-width: 100%">
                        <input name="orderNumber" id="orderNumber" type="number" />
                    </div>
                    <br/>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="max-width: 100%">
                            <input type="submit" value="Print ticket" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>