@model CinemaTicketSystem.Domain.Entities.Showing

@{
    ViewBag.Title = "ThankYou";
}

<div class="container">
    <div class="col-md-6" style="text-align: center; width: 50%; margin: auto">
        <form>
            <h2 style="text-align: center">Veel kijkplezier</h2>
            <div class="form-group" style="color: white!important">
                <h5>Uw aankoop is succesvol afgerond en de tickets zijn naar uw e-mailadres verstuurd</h5>
            </div>
            <a href="@Url.Action("Index", "Showing")" class="btn btn-danger">Keer terug naar het beginscherm</a>
        </form>
    </div>
</div>

