
@{
    ViewBag.Title = "Admin";
}

<div class="container">

    <div class="jumbotron" style="text-align: center">
        <h1 class="display-4" style="color: white">Welkom bij de administratie pagina van Avans Bioscopen</h1>
        <hr class="my-4">
        <p style="color: white">Kies een van de onderstaande opties om snel een keuze te maken</p>
        <p class="lead">
            <button class="btn btn-danger" style="display: block; margin: 0 auto; margin-bottom: 20px;"><a style="text-decoration: none; color: white;" href="../Surveys/Index">Bekijk de statistieken van de enquetes</a></button>
            <button class="btn btn-danger" style="display: block; margin: 0 auto; margin-bottom: 20px;"><a style="text-decoration: none; color: white;" href="../Movie/Create">Voeg een film toe</a></button>
            <button class="btn btn-danger" style="display: block; margin: 0 auto;"><a style="text-decoration: none; color: white;" href="../Showing/Create">Voeg een voorstelling toe</a></button>
        </p>
    </div>

</div>