
@{
    ViewBag.Title = "Login";
}

<div class="container" style="text-align: center">
    <div class="colorBlack">
        <h2>Login</h2>
        <div class="form-horizontal">
            <form action="/Auth/Login" method="post">
                <div class="form-group">
                    <label style="color: white !important;" for="UserName" class="control-label col-md-2">Gebruikersnaam</label>
                    <div class="col-md-10" style="max-width: 100%">
                        <input name="userName" id="userName" type="text" required />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label style="color: white !important;" for="Password" class="control-label col-md-2">Wachtwoord</label>
                    <div class="col-md-10" style="max-width: 100%">
                        <input name="password" id="password" type="password" required />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="max-width: 100%">
                        <input type="submit" value="Login" class="btn btn-danger" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

