@model IEnumerable<CinemaTicketSystem.Domain.Entities.Location>

@{
    ViewBag.Title = "Index";
}

<div class="container" style="text-align: center">
<h2>Route naar Avans bioscopen</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2479.139230707433!2d4.79506621614144!3d51.58401157964784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x47c6a1d7942a1a21%3A0x46b0efbbbd6471c7!2sAvans+Hogeschool+-+Locatie+Hogeschoollaan%2C+Hogeschoollaan+1%2C+4818+CR+Breda!3m2!1d51.5840116!2d4.7972548999999995!5e0!3m2!1snl!2snl!4v1528323726940" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>