
@{
    ViewBag.Title = "Index";
}

<h2>Welkom bij Cinema</h2>

<button class="btn btn-primary" style="display: block; margin: 0 auto;"><a style="text-decoration: none; color: white;" href="../Movie/Index">Kies een film en koop kaartje</a></button>
<button class="btn btn-primary" style="display: block; margin: 0 auto;"><a style="text-decoration: none; color: white;" href="../Order/Index">Print kaartje via order nummer</a></button>

