
@{
    ViewBag.Title = "Index";
}
<div class="container">
    
    <div class="jumbotron" style="text-align: center">
        <h1 class="display-4" style="color: white">Welkom bij Avans Bioscopen</h1>
        <p class="lead" style="color: white">Hou je van genieten, ga dan naar Avans Bioscopen. Met het grootste aanbod!</p>
        <hr class="my-4">
        <p style="color: white">Kies een van de twee onderstaande opties om snel een keuze te maken</p>
        <p class="lead">
            <button class="btn btn-danger" style="display: block; margin: 0 auto; margin-bottom: 20px;"><a style="text-decoration: none; color: white;" href="../Movie/Index">Kies een film en koop kaartje</a></button>
            <button class="btn btn-danger" style="display: block; margin: 0 auto"><a style="text-decoration: none; color: white;" href="../Order/Index">Print kaartje via order nummer</a></button>
        </p>
    </div>
    
</div>
